<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>

    <environment include="Develop">
        <link rel="stylesheet" asp-hre-include="css/*" asp-href-exclude="css/all.min.css" />
    </environment>
    <environment exclude="Develop">
        <link rel="stylesheet" asp-hre-include="css/all.min.css" />
    </environment>


    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
